.Definition {
  padding: 5px 50px;
  margin: 15px 0;
  background-color: rgba(16, 49, 107, 0.1);
  border-radius: 4px;
}

.Definition .definition {
  font-size: 20px;
}

.Definition .example,
.Definition .synonyms {
  font-style: italic;
}

@media (max-width: 576px) {
  .Definition {
    padding: 0 5px;
  }
}
