.Dictionary {
  font-family: "Nunito", sans-serif;
}
.Dictionary section {
  margin: 10px 0;
  background-color: whitesmoke;
  padding: 10px 40px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(11, 64, 156, 0.8);
}

.Dictionary form {
  text-align: center;
}

.Dictionary form input {
  font-size: 20px;
  background-color: whitesmoke;
  border: 1px solid #0b409c;
  border-radius: 4px;
  width: 30%;
}

.Dictionary form input:focus {
  color: #10316b;
  outline: none;
}

.Dictionary form button {
  background-color: #0b409c;
  border: 1px solid #0b409c;
  border-radius: 4px;
  color: #f2f7ff;
  transition: all 200ms ease-in-out;
}

.Dictionary form button:hover {
  background-color: #fdbe34;
  border: 1px solid #fdbe34;
}

@media (max-width: 576px) {
  .Dictionary form input {
    width: 70%;
  }

  .Dictionary section {
    padding: 10px 10px;
  }
}
