.Dictionary section {
  margin: 10px 0;
  background-color: #f2f7ff;
  padding: 10px 40px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #0b409c;
}

.Dictionary form {
  text-align: center;
}

.Dictionary form input {
  border: 1px solid #0b409c;
  border-radius: 4px;
  width: 30%;
}

.Dictionary form input:focus {
  color: #10316b;
  outline: none;
}

.Dictionary form button {
  background-color: #0b409c;
  border: 1px solid #0b409c;
  border-radius: 4px;
  color: #f2f7ff;
  transition: all 200ms ease-in-out;
}

.Dictionary form button:hover {
  background-color: #fdbe34;
}

@media (max-width: 576px) {
  .Dictionary form input {
    width: 70%;
  }
}
